
/*DO NOT CHANGE*/

body{background-color:#999;}div, p, section, main{padding:10px;border:1px solid black;}section{background-color:black;}.out{color:black}.lit{color:yellow;text-shadow:yellow 0px 0px 10px}